@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');

* {
    margin:0;
    padding: 0;
    border: 0;
}

body{
    background:white;
    color: #67727A;
    font-family: 'Alegreya', sans-serif;
    margin:0px;


}
h2 {
    font-size:  250%;
    font-weight: 700;
    text-align: center;
    padding-top: 1%;
   

}
h3 {
    font-size: 175%;
    line-height: 155%;
/*    padding:5% 0%;*/
    font-weight: 400;
}
p {
    font-size: 160%;
    line-height: 150%;
    padding: 3%;
    text-indent: 2%;
    text-align: justify;
}
img {
    max-width: 100%;
    height: auto;
    width: auto;
    margin-bottom: -4px;
}
header {
    background-color: white;
    width: 100%;
    height: 86px;

}
#header-inner{
    max-width: 1200px;
    margin: 0 auto;
}
#logo {
    margin:10px;
    float:left;
    width:300px;
    height: 70px;
    background: url(images/pasha.png) no-repeat ;
}
/*---Start Navigation */
nav {
    float: right;
    padding: 25px 20px 0 0;
}
#menu-icon {
    display:hidden;
    width: 40px;
    height: 40px;
    background: url(images/nav.png) center;

}
a:hover#menu-icon {
    border-radius: 4px 4px 0px 0px;

}
ul {
    list-style-type: none;
}
nav ul li{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 150%;
    display: inline-block;
    float: left;
    padding: 10px;


}
nav ul li a{
    color: gray;
    text-decoration: none;
    
}
nav ul li:hover{
    color:#C3D70F;
}
.current {
    color:#C3D70F;
}
/**This The End of Navigation Style*/
.banner {
    width:100%;
    background-color: #6991AC;
}
.banner-inner {
    max-width: 1100px;
    margin: 0 auto;
}
.one-fourth {
    width: 25%;
    float: left;
    text-align: center;

}
#html {
    background-color: #f1aa90
}
#css {
    background-color: #beb9ad
}
#seo {
    background-color: #aadcd2
}
#social {
    background-color: #a2b2c1
}
.one-fourth i {
    color: #f0f0f0;
    font-size: 500%;
    padding: 13% 0% 4% 0%
}
.inner-wrapper {
    float: left;
    width: 100%;
    background-color: #c3d7df;
}
article {
    float: left;
    margin:0 auto;
    height: auto;
    width: 50%;

}
footer li {
    display: inline;
    position: center;

}
